
















.header_right_dropdown{
   position: relative;
   padding: 21px 0px;
   cursor: pointer;
   &:hover{
      .profile_dropdown{
         opacity: 1;
         transition: 0.4s;
         visibility: visible;
      }
   }
}

.profile_dropdown{
   position: absolute;
   width: 300px;
   right: 0;
   top: 100%;
   background-color: #fff;
   box-shadow: 0 1px 10px rgba(0,0,0,0.2);
   border-radius: 0px 0px 4px 4px;
   text-align: left !important;
   opacity: 0;
   visibility: hidden;
   .top_info{
      padding: 30px 25px 20px 25px;
      h5{
         font-weight: 700;
         font-size: 14px;
         text-transform: uppercase;
      }
      p{
         margin-top: 3px;
         font-size: 14px;
         color: #696b79;
      }
      a{
         display: inline-block !important;
         border: 1px solid #eaeaec;
         color: #ff3f6c;
         padding: 10px 20px !important;
         text-transform: uppercase;
         font-weight: 700;
         margin-top: 8px;
         &:hover{
            background-color: #ff3f6c;
            color: #fff;
            border-color: #ff3f6c;
         }
      }
   }
   .link_wrapper{
      padding: 0px 20px;
      padding-bottom: 20px;
      .link_box{
         border-top: 1px solid rgba(221, 221, 221, 0.432);
         padding: 8px 0px 5px 0px;
         ul{
            li{
               display: block !important;
               margin-bottom: 4px;
               a{
                  color: #3e4152 !important;
                  text-transform: capitalize;
                  font-size: 14px !important;
                  font-weight: 400 !important;
                  &:hover{
                     color: $titleColor !important;
                     font-weight: 700 !important;
                     text-decoration: underline;
                  }
               }
            }
         }
      }
   }
}