
.profile_page_main_content{
    .orders_table_content{
        table{
            border-color: rgba(221, 221, 221, 0.637);
            thead{
                font-weight: 600;
                font-size: 15px;
                color: #373f50;
                tr{
                    border-bottom: 1px solid rgba(221, 221, 221, 0.637);
                    th{
                        border: none;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    font-weight: 600;
                    font-size: 13px;
                    a{
                        &:hover{
                            color: #ff3f6c;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .pagination_area{
        margin-top: 30px;
    }
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
    .profile_page_main_content .orders_table_content .table-responsive{
        overflow-x: scroll;
    }
    .profile_page_main_content .orders_table_content table{
        width: 700px;
    }
}

@media (max-width: 575px) {
    .profile_page_main_content .orders_table_content .table-responsive{
        overflow-x: scroll;
    }
    .profile_page_main_content .orders_table_content table{
        width: 700px;
    }
}