







#product_details_main{
   padding: 50px 0px;
   background-color: #fff;
   .product_image_area{
      .down_product_thumb_slide{
         // position: relative;
         .product_thumb_slide_item{
            margin-bottom:10px;
            cursor: pointer;
            img{
               border: 2px solid #e5e5e5;
               border-radius: 4px;
               transition: 0.4s;
            }
         }
         .slick-current{
            img{
               border-color: #ff3e6c;
            }
         }
         .arrow_left{
           width: 100%; 
           padding: 10px 0px;
           border: none;
           background-color: transparent;
           font-size: 30px;
           i{
              transform: rotate(90deg);
           }
         }
         .arrow_right{
            width: 100%; 
            padding: 10px 0px;
            border: none;
            background-color: transparent;
            font-size: 30px;
            i{
               transform: rotate(90deg);
            }
         }
      }
      .main_product_slide{
         position: relative;
         .main_product_item_slide{
            cursor: crosshair;
            border-radius: 4px;
            border: 1px solid #ddd;
            img{
               border-radius: 4px;
            }
            .drift-zoom-pane.drift-open{
               border-radius: 4px;
            }
         }
         .arrow_left{
            position: absolute;
            top: 50%;
            left: 0px;
            z-index: 9999999;
            height: 40px;
            width: 40px;
            background-color: $titleColor;
            border: none;
            color: #fff;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            transition: 0.4s;
            opacity: 0;
            visibility: hidden;
            &:hover{
               opacity: 1 !important;
            }
         }
         .arrow_right{
            position: absolute;
            top: 50%;
            right: 0px;
            z-index: 9999999;
            height: 40px;
            width: 40px;
            background-color: $titleColor;
            border: none;
            color: #fff;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            transition: 0.4s;
            opacity: 0;
            visibility: hidden;
            &:hover{
               opacity: 1 !important;
            }
         }
         &:hover{
            .arrow_left{
               opacity: 0.5;
               visibility: visible;
               left: 20px;
            }
            .arrow_right{
               opacity: 0.5;
               visibility: visible;
               right: 20px;
            }
         }
      }
      
   }


   .product_details_area{
      padding-left: 10px;
      .product_name_review{
         h4{
            font-weight: 500;
            font-size: 25px;
         }
         p{
            font-size: 15px;
            width: 80%;
            margin-top: 10px;
            a{
               color: #ff3e6c;
               &:hover{
                  text-decoration: underline;
               }
            }
         }
         ul{
            margin-top: 10px;
            li{
               display: inline-block;
               margin-right: -3px;
               i{
                  font-size: 12px;
                  color: #fea569;
               }
               span{
                  margin-left: 5px;
                  font-weight: 600;
                  font-size: 12px;
               }
            }
         }
      }

      .price_tag{
         margin-top: 10px;
         h1{
            font-weight: 700;
            font-size: 55px;
            color: #4e54c8;
            span{
               font-weight: 500;
               font-size: 16px !important;
               position: relative;
               top: 2px;
               margin-left: 3px;
            }
         }
      }

      .quantity_color{
         margin-top: 20px;
         .info{
            margin-bottom: 10px;
            p{
               font-weight: 600;
               font-size: 11px;
               text-transform: uppercase;
            }
         }
         .quantity_input{
            display: flex;
            button{
               border: 1px solid #ddd;
               background-color: transparent;
               height: 35px;
               width: 35px;
               display: block;
               font-size: 13px;
            }
            input{
               flex: 1;
               width: 100%;
               height: 100%;
               text-align: center;
               border: 1px solid #ddd;
               border-left: none;
               border-right: none;
               font-weight: 700;
               font-size: 14px;
               color: $titleColor;
            }
         }
         .color_select_option{
            display: flex;
            .input_box{
               margin-right: 10px;
               input{
                  display: none;
               }
               label{
                  height: 25px;
                  width: 25px;
                  border-radius: 50%;
                  cursor: pointer;
                  border: 1px solid #e3e9ef;
                  position: relative;
                  transition: 0.4s;
                  span{
                     position: absolute;
                     height: 17px;
                     width: 17px;
                     top: 0;
                     bottom: 0;
                     left: 0;
                     right: 0;
                     margin: auto;
                     border-radius: 50%;
                     &::after{
                        position: absolute;
                        content: "\f00c";
                        font-family: "Font Awesome 5 Pro";
                        font-size: 10px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        color: #fff;
                        transition: 0.4s;
                        opacity: 0;
                     }
                  }
               }
               input:checked ~ label{
                  border-color: red;
               }
               input:checked ~ label span{
                  &::after{
                     opacity: 1;
                  }
               }
            }
         }
      }

      .size_selecttion{
         margin-top: 25px;
         .info{
            margin-bottom: 5px;
            p{
               font-weight: 600;
               font-size: 11px;
               text-transform: uppercase;
            }
         }
         .size_select_box{
            .nice-select{
               width: 100%;
               border: 1px solid #e3e9ef;
               border-radius: 0px;
               font-weight: 500;
               font-size: 13px;
            }
            .list{
               width: 100%;
               border-radius: 0px;
               li{
                  font-weight: 500;
                  font-size: 12px;
               }
            }
         }
         .addto_cart_btn{
            a{
               display: block;
               background-color: #fe696a;
               border: 1px solid #fe696a;
               text-align: center;
               padding: 10px 0px;
               box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(254,105,106,0.9);
               border-radius: 4px;
               color: #fff;
               font-weight: 500;
               font-size: 14px;
               i{
                  margin-right: 4px;
               }
               &:hover{
                  box-shadow: none;
                  background-color: #fe3638;
                  border-color: #fe3638;
               }
            }
         }
      }

      .another_action_btn{
         margin-top: 30px;
         a{
            display: block;
            background-color: #f3f5f9;
            border: 1px solid #e3e9ef;
            text-align: center;
            padding: 13px 0px;
            font-weight: 500;
            font-size: 13px;
            border-radius: 4px;
            i{
               margin-right: 4px;
            }
            &:hover{
               background-color: #d1d9e8;
               border-color: transparent;
            }
         }
      }


      .shiping_option{
         border: 1px solid #e3e9ef;
         margin-top: 20px;
         width: 70%;
         .top_heade{
            padding: 14px 20px;
            border-bottom: 1px solid #e3e9ef;
            h4{
               font-weight: 600;
               font-size: 15px;
               i{
                  margin-right: 5px;
               }
            }
         }
         .main_content{
            padding: 0px 20px;
            padding-bottom: 0px;
            .shiping_option_item{
               display: flex;
               justify-content: space-between;
               border-bottom: 1px solid #e3e9ef;
               padding: 15px 0px;
               .left_info{
                  p{
                     font-size: 14px;
                     color: #373f50;
                  }
                  h5{
                     font-weight: 500;
                     font-size: 14px;
                     margin-top: 4px;
                     color: #7d879c;
                  }
               }
               .right_price{
                  h6{
                     font-size: 15px;
                  }
               }
               &:last-child{
                  border-bottom: none;
               }
            }
         }
      }
   }
}





//product_details_info_tab_area
#product_details_info_tab_area{
   background-color: #fff;
   .tab_info_main_wrapper{
      // box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0,0,0,0.1) !important;
      border-radius: 4px;
      .product_tab_nav{
         border-bottom: 1px solid #e3e9ef;
         padding: 0px 0px;
         border-radius: 4px;
         .nav-tabs{
            border: none;
            border-radius: 4px 4px 0px 0px;
         }
         button{
            border: none;
            border-radius: 0px;
            font-weight: 500;
            font-size: 14px;
            padding: 20px 30px;
            background-color: transparent;
            position: relative;
            color: $titleColor;
            i{
               margin-right: 4px;
               font-size: 16px;
               position: relative;
               top: 2px;
            }
            &::after{
               height: 1px;
               bottom: 0;
               left: 0;
               right: 0;
               margin: auto;
               content: "";
               position: absolute;
               background-color: #ff3e6c;
               width: 0%;
               transition: 0.4s;
            }
         }
         .active{
            color: #ff3e6c;
            &::after{
               width: 100%;
            }
         }
      }


      .product_tab_main_content{
         .general_info_content{
            padding: 50px 0px;
            h3{
               font-weight: 600;
               font-size: 25px;
               margin-bottom: 15px;
            }
            p{
               font-size: 15px;
               line-height: 25px;
               margin-bottom: 10px;
               .italic{
                  font-style: italic;
                  text-decoration: underline;
                  color: #ff3e6c;
               }
            }
            img{
               margin: 0 auto;
               display: table;
               margin-top: 10px;
               margin-bottom: 10px;
            }
         }
      }

      .specefication_tab_content{
         padding: 40px 40px;
         .top_product_image{
            border-bottom: 1px solid #e3e9ef;
            display: flex;
            align-items: center;
            padding-bottom: 30px;
            .image_box{
               img{
                  height: 80px;
               }
            }
            .content_box{
               margin-left: 15px;
               h4{
                  font-weight: 600;
                  font-size: 17px;
               }
               h5{
                  font-weight: 700;
                  font-size: 17px;
                  color: #4e54c8;
                  margin-top: 5px;
               }
            }
         }
         .speci_wrapper{
            padding: 40px 0px;
            .specefication_item{
               width: 90%;
               margin-bottom: 40px;
               h4{
                  font-weight: 600;
                  font-size: 17px;
               }
               ul{
                  margin-top: 10px;
                  li{
                     display: block;
                     color: #7d879c !important;
                     font-size: 14px;
                     border-bottom: 1px solid #e3e9ef !important;
                     padding: 10px 0px;
                     span{
                        float: right;
                        color: #4b566b;
                     }
                  }
               }
            }
         }
      }

      .review_section_area{
         padding: 40px 0px;
         .review_section_top{
            border-bottom: 1px solid #e3e9ef;
            padding-bottom: 30px;
            display: flex;
            align-items: center;
            .image_box{
               display: flex;
               align-items: center;
               .image_area{
                  img{
                     height: 80px;
                  }
               }
               .content_box{
                  margin-left: 15px;
                  h4{
                     font-weight: 600;
                     font-size: 17px;
                  }
                  h5{
                     font-weight: 700;
                     font-size: 17px;
                     color: #4e54c8;
                     margin-top: 5px;
                  }
               }
            }
            .review_summery{
               margin-left: 150px;
               h4{
                  font-weight: 600;
                  font-size: 17px;
               }
               ul{
                  margin-top: 5px;
                  margin-bottom: 10px;
                  li{
                     display: inline-block;
                     color: #4e54c8 !important;
                     font-size: 14px;
                     margin-right: -2px;
                  }
                  .last{
                     font-weight: 600;
                     font-size: 13px;
                     margin-left: 5px;
                     color: $titleColor !important;
                  }
               }
               p{
                  font-size: 14px;
                  color: #7d879c !important;
               }
            }
         }
         .feedback_main_wrapper{
            padding: 30px 80px;
            .review_box_wrapper{
               .review_item{
                  margin-bottom: 40px;
                  .top_info{
                     display: flex;
                     padding-bottom: 20px;
                     .user_info_box{
                        display: flex;
                        align-items: center;
                        .user_image{
                           img{
                              height: 50px;
                              border-radius: 50%;
                           }
                        }
                        .user_content{
                           margin-left: 15px;
                           h5{
                              font-size: 16px;
                           }
                           p{
                              font-size: 14px;
                              color: #7d879c;
                              margin-top: 3px;
                           }
                        }
                     }
                     .feedback_reting{
                        margin-left: 70px;
                        ul{
                           li{
                              display: inline-block;
                              margin-right: -3px;
                              font-size: 12px;
                              color: #fea569;
                           }
                        }
                        p{
                           font-size: 15px;
                           color: #7d879c;
                           margin-top: 4px;
                        }
                     }
                  }
                  .review_text_bottom{
                     .review_image_box{
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        img{
                           width: 100px;
                           border-radius: 4px;
                           margin: 0px 8px;
                           height:100px;
                        }
                     }
                     p{
                        width: 100%;
                        margin-top: 7px;
                        font-size: 15px;
                        color: #7d879c;
                     }
                  }
               }
               .load_more_review{
                  a{
                     display: inline-block;
                     border: 1px solid #4e54c8;
                     color: #4e54c8;
                     font-weight: 600;
                     font-size: 13px;
                     padding: 13px 50px;
                     text-transform: uppercase;
                     border-radius: 4px;
                     i{
                        margin-right: 5px;
                     }
                     &:hover{
                        background-color: #4e54c8;
                        color: #fff;
                     }
                  }
               }
            }
            .feedbak_form_box{
               background-color: #F6F9FC;
               padding: 30px;
               margin-left: 50px;
               .top_title_review_form{
                  h4{
                     font-weight: 600;
                     font-size: 20px;
                  }
               }
               .review_form_box{
                  margin-top: 20px;
                  .input_box{
                     margin-bottom: 10px;
                     label{
                        font-weight: 500;
                        font-size: 13px;
                        display: block;
                        margin-bottom: 7px;
                        span{
                           color: #fe3638;
                           margin-left: 3px;
                        }
                     }
                     input{
                        width: 100%;
                        height: 45px;
                        padding: 0px 14px;
                        border: 1px solid #dae1e7;
                        background-color: #fff;
                        border-radius: 4px;
                        font-weight: 500;
                        font-size: 13px;
                     }
                     small{
                        font-size: 12px;
                        margin-top: 4px;
                        display: block;
                     }
                     .nice-select{
                        width: 100%;
                        height: 45px;
                        line-height: 45px;
                        padding: 0px 14px;
                        border: 1px solid #dae1e7;
                        background-color: #fff;
                        border-radius: 4px;
                        font-weight: 500;
                        font-size: 13px;
                        margin-bottom: 10px;
                        .list{
                           width: 100%;
                        }
                     }
                     textarea{
                        width: 100%;
                        height: 180px;
                        padding: 10px 14px;
                        border: 1px solid #dae1e7;
                        background-color: #fff;
                        border-radius: 4px;
                        font-weight: 500;
                        font-size: 13px;
                     }
                     textarea.small_text_area{
                        height: 70px;
                     }
                  }
                  .review_form_action{
                     margin-top: 10px;
                     button{
                        display: block;
                        width: 100%;
                        background: #fe3638;
                        border: none;
                        color: #fff;
                        font-weight: 500;
                        font-size: 14px;
                        padding: 14px 0px;
                        border-radius: 4px;
                        &:hover{
                           opacity: 0.8;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}


#product_info_details_bottom{
   background: #fff;
   .top_title{
      border-bottom: 1px solid #e3e9ef;
      padding-bottom: 20px;
      h3{
         font-weight: 600;
         font-size: 20px;
      }
   }
   .product_information_content{
      margin-top: 30px;
      .image_box{
         margin-bottom: 20px;
         img{
            width: 100%;
         }
      }
      p{
         font-size: 15px;
         line-height: 25px;
         margin-bottom: 10px;
         .color_line{
            font-style: italic;
            text-decoration: underline;
            color: #ff3e6c;
         }
      }
   }
}





// start product page responsive
@media (min-width: 1200px) and (max-width: 1500px) {
   #product_details_main .product_image_area .down_product_thumb_slide {
      height: 80%;
   }
}

@media (min-width: 1200px) and (max-width: 1399px) {
   #product_details_main .product_image_area .main_product_slide .main_product_item_slide{
      border: none;
   }
   #product_details_main .product_image_area .main_product_slide .main_product_item_slide{
      border: 1px solid #ddd;
   }
}

@media (min-width: 992px) and (max-width: 1199px) {
   .product_details_slide_row{
      flex-direction: column-reverse;
   }
   #product_details_main .product_image_area .down_product_thumb_slide .arrow_left{
      width: auto;
      position: absolute;
      left: -50px;
      padding: 0px 10px;
      height: 100%;
      i{
         transform: rotate(0deg);
      }
   }
   #product_details_main .product_image_area .down_product_thumb_slide .arrow_right{
      width: auto;
      position: absolute;
      right: -50px;
      padding: 0px 10px;
      top: 0;
      height: 100%;
      i{
         transform: rotate(0deg);
      }
   }
   #product_details_main .product_image_area .down_product_thumb_slide{
      margin-top: 30px;
   }
   #product_details_main .product_image_area .down_product_thumb_slide .product_thumb_slide_item{
      margin: 0px 10px;
   }
   #product_details_main .product_details_area{
      margin-top: 30px;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .review_section_area .feedback_main_wrapper .feedbak_form_box{
      margin-left: 0px;
      margin-top: 30px;
   }
}

@media (min-width: 768px) and (max-width: 991px) {
   .product_details_slide_row{
      flex-direction: column-reverse;
   }
   #product_details_main .product_image_area .down_product_thumb_slide .arrow_left{
      width: auto;
      position: absolute;
      left: -50px;
      padding: 0px 10px;
      height: 100%;
      i{
         transform: rotate(0deg);
      }
   }
   #product_details_main .product_image_area .down_product_thumb_slide .arrow_right{
      width: auto;
      position: absolute;
      right: -50px;
      padding: 0px 10px;
      top: 0;
      height: 100%;
      i{
         transform: rotate(0deg);
      }
   }
   #product_details_main .product_image_area .down_product_thumb_slide{
      margin-top: 30px;
   }
   #product_details_main .product_image_area .down_product_thumb_slide .product_thumb_slide_item{
      margin: 0px 5px;
   }
   #product_details_main .product_details_area{
      margin-top: 30px;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .review_section_area .feedback_main_wrapper .feedbak_form_box{
      margin-left: 0px;
      margin-top: 30px;
   }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
   .product_details_slide_row{
      flex-direction: column-reverse;
   }
   #product_details_main .product_image_area .down_product_thumb_slide .arrow_left{
      width: auto;
      position: absolute;
      left: -50px;
      padding: 0px 10px;
      height: 100%;
      i{
         transform: rotate(0deg);
      }
   }
   #product_details_main .product_image_area .down_product_thumb_slide .arrow_right{
      width: auto;
      position: absolute;
      right: -50px;
      padding: 0px 10px;
      top: 0;
      height: 100%;
      i{
         transform: rotate(0deg);
      }
   }
   #product_details_main .product_image_area .down_product_thumb_slide{
      margin-top: 30px;
   }
   #product_details_main .product_image_area .down_product_thumb_slide .product_thumb_slide_item{
      margin: 0px 5px;
   }
   #product_details_main .product_details_area{
      margin-top: 30px;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .review_section_area .feedback_main_wrapper .feedbak_form_box{
      margin-left: 0px;
      margin-top: 30px;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .specefication_tab_content{
      padding: 30px 0px;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .review_section_area .feedback_main_wrapper{
      padding: 30px 0px;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .review_section_area .review_section_top{
      flex-direction: column;
      align-items: inherit;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .review_section_area .review_section_top .review_summery{
      margin-left: 95px;
   }
}

@media (max-width: 575px) {
   .product_details_slide_row{
      flex-direction: column-reverse;
   }
   #product_details_main .product_image_area .down_product_thumb_slide .arrow_left{
      width: auto;
      position: absolute;
      left: 0px;
      padding: 0px 10px;
      height: 100%;
      background-color: rgba(51, 51, 51, 0.637);
      z-index: 999;
      i{
         transform: rotate(0deg);
         color: #fff;
      }
   }
   #product_details_main .product_image_area .down_product_thumb_slide .arrow_right{
      width: auto;
      position: absolute;
      right: 0px;
      padding: 0px 10px;
      top: 0;
      height: 100%;
      background-color: rgba(51, 51, 51, 0.637);
      i{
         transform: rotate(0deg);
         color: #fff;
      }
   }
   #product_details_main .product_image_area .down_product_thumb_slide{
      margin-top: 30px;
   }
   #product_details_main .product_image_area .down_product_thumb_slide .product_thumb_slide_item{
      margin: 0px 5px;
   }
   #product_details_main .product_details_area{
      margin-top: 30px;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .review_section_area .feedback_main_wrapper .feedbak_form_box{
      margin-left: 0px;
      margin-top: 30px;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .specefication_tab_content{
      padding: 30px 0px;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .review_section_area .feedback_main_wrapper{
      padding: 30px 0px;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .review_section_area .review_section_top{
      flex-direction: column;
      align-items: inherit;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .review_section_area .review_section_top .review_summery{
      margin-left: 15px;
      margin-top: 10px;
   }
   #product_details_main .product_image_area .main_product_slide .arrow_right{
      opacity: 1;
      visibility: visible;
      right: 10px !important;
   }
   #product_details_main .product_image_area .main_product_slide .arrow_left{
      opacity: 1;
      visibility: visible;
      left: 10px !important;
   }
   #product_details_main .product_details_area .quantity_color .info{
      margin-top: 10px;
   }
   #product_details_main .product_details_area .size_selecttion{
      margin-top: 15px;
   }
   #product_details_main .product_details_area .size_selecttion .addto_cart_btn a{
      margin-top: 15px;
   }
   #product_details_main .product_details_area .another_action_btn a{
      margin-bottom: 10px;
   }
   #product_details_main .product_details_area .shiping_option{
      width: 100%;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .product_tab_nav button {
      font-size: 14px;
      padding: 14px 20px;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .specefication_tab_content .speci_wrapper .specefication_item{
      width: 100%;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .specefication_tab_content .speci_wrapper .specefication_item ul li span {
      font-size: 12px;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .review_section_area .feedback_main_wrapper .review_box_wrapper .review_item .review_text_bottom .review_image_box img{
      width: 70px;
      height: 70px;
      margin: 0px 3px;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .review_section_area .review_section_top .image_box {
      flex-direction: column;
      align-items: inherit !important;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .review_section_area .feedback_main_wrapper .review_box_wrapper .review_item .top_info{
      flex-direction: column;
   }
   #product_details_info_tab_area .tab_info_main_wrapper .review_section_area .feedback_main_wrapper .feedbak_form_box{
      padding: 20px;
   }
}